<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="20"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleFontSize]="'3em'"
        [titleColor]="'orange'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffa500'"
        [innerStrokeColor]="'#ffd27f'"
        [animation]="true"
        [animationDuration]="300"
        >
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="20"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleFontSize]="'3em'"
        [titleColor]="'#0096b7'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0087a4'"
        [innerStrokeColor]="'#7fcadb'"
        [animation]="true"
        [animationDuration]="300"
        >
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="5"
        [radius]="100"
        [showUnits]="false"
        [title]="'Javascript'"
        [titleFontSize]="'2em'"
        [titleColor]="'#b2b200'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#e5e500'"
        [innerStrokeColor]="'#cccc00'"
        [animation]="true"
        [animationDuration]="300"
        >
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleFontSize]="'3em'"
        [titleColor]="'orange'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        >
    </circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'Ingles'"
        [titleFontSize]="'3em'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff1919'"
        [innerStrokeColor]="'#6fa8dc'"
        [animation]="true"
        [animationDuration]="300"
        >
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showUnits]="false"
        [title]="'Trabajo en Equipo'"
        [titleFontSize]="'1em'"
        [titleColor]="'orange'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        >
    </circle-progress>
    </div>
</div>