<div class="row">
    <div class="img-profile">
        <img src="../../../assets/profile.jpg" alt="" class="img-fluid">
    </div>
    <div class="name">
        <p class="nombre">Montoya Luciano</p>
        <p class="titulo">Full Stack Developer Jr.</p>
    </div>
    <div>
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, deserunt provident, enim cum dicta beatae dolore totam, culpa quia natus voluptas quo?</p>
        </span>
    </div>
</div>