<div>
    <a href="">
        <img src="../../../assets/facebook-icon.png" alt="" class="facebook-icon">
    </a>
    <a href="">
        <img src="../../../assets/github-icon.png" alt="" class="github">
    </a>
    <a href="">
        <img src="../../../assets/instagram-icon.png" alt="" class="instagram">
    </a>
    <a href="">
        <img src="../../../assets/linkedin-icon.png" alt="" class="linkedin">
    </a>
    <a href="">
        <img src="../../../assets/twitter-icon.png" alt="" class="twitter">
    </a>
</div>