<div class="container-fluid p-3 m-3">
    <div>
        <h2>Proyectos</h2>
    </div>
    <div class="card col-sm" style="width: 18rem;">
        <img src="../../../assets/Random.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proyecto 1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-outline-secondary">Github</button>
        </div>
    </div>
</div>