<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Estudio 1</h3> - <h5>(years)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora mollitia a eaque aliquam eveniet dolore doloribus commodi nostrum laboriosam vel.</p>
            </li>
            <li>
                <h3>Estudio 2</h3> - <h5>(years)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora mollitia a eaque aliquam eveniet dolore doloribus commodi nostrum laboriosam vel.</p>
            </li>
            <li>
                <h3>Estudio 3</h3> - <h5>(years)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora mollitia a eaque aliquam eveniet dolore doloribus commodi nostrum laboriosam vel.</p>
            </li>
        </ul>
    </div>
</div>