<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="" class="logoAP">
        </div>
        <div class="redesSociales">
            <a href="">
                <img src="../../../assets/facebook-icon.png" alt="Facebook" class="facebook-icon">
            </a>
            <a href="">
                <img src="../../../assets/github-icon.png" alt="" class="github">
            </a>
            <a href="">
                <img src="../../../assets/instagram-icon.png" alt="" class="instagram">
            </a>
            <a href="">
                <img src="../../../assets/linkedin-icon.png" alt="" class="linkedin">
            </a>
            <a href="">
                <img src="../../../assets/twitter-icon.png" alt="" class="twitter">
            </a>
            <button class="btn btn-primary rounded-pill" type="submit">Ingreso</button>
        </div>
    </div>
</div>