<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/Spheres.jpeg" class="d-block w-100" alt="banner01">
    </div>

    <div class="carousel-item">
      <img src="../../../assets/SharePoint Logo.jpeg" class="d-block w-100" alt="banner02">
    </div>

    <div class="carousel-item">
      <img src="../../../assets/SharePoint.jpeg" class="d-block w-100" alt="baner03">
    </div>
  </div>
</div>