<section class="w-50 mx-auto text-center pt-5" id="sobreMi">
    <h1 class="p-3 fs-2 border-top border-3">Sobre mí
        <br>
        <span class="text-primary">Luciano D. Montoya</span>
    </h1>
    <img src="../../../assets/profile.jpg" alt="Perfil" width="180" class="rounded-circle border border-4">
    <p class="lead">Full Stack Developer Jr.</p>
    <p class="p-3 fs-4">
        <span class="text-primary fw-bold"></span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ea omnis perferendis accusamus libero doloremque quod ad, natus accusantium autem ipsum nostrum repellat iusto numquam in beatae dignissimos impedit culpa!
    </p>
</section>