<div class="container-fluid p-3 m-3 $grey-400">
    <div>
        <h2>Proyectos</h2>
    </div>
    <div class="card col-sm" style="width: 18rem;">
        <img src="../../../assets/proyectoRelojAnalogoDigital.png" class="card-img-top" alt="Reloj Analogo Digital">
        <div class="card-body">
          <h5 class="card-title">Reloj Analogo Digital</h5>
          <p class="card-text">Proyecto iniciado para aprender un poco a utilizar correctamente CSS</p>
          <a class="btn btn-outline-secondary" href="https://github.com/Owltr0n/relojAnalogicoDigital" role="button" target="_blank">Github</a>
        </div>
    </div>
</div>